/*fonts*/

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansKR-Light?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/NotoSansKR-Light.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/NotoSansKR-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style:normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/NotoSansKR-Medium.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/NotoSansKR-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style:normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/NotoSansKR-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/NotoSansKR-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style:normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/Poppins-Medium.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Poppins-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style:normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RedHatDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/RedHatDisplay-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/RedHatDisplay-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style:normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RedHatDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/RedHatDisplay-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/RedHatDisplay-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/RedHatDisplay-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 800;
    font-style:normal;
}